# Database
DATABASE_URL=postgresql://nostromus:nostromuspass@localhost:5432/nostromus

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Keycloak
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=react-keycloak
KEYCLOAK_CLIENT_ID=FE-keycloak

# API
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=False
